<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="http://placekitten.com/g/200/300" alt="menu">
    </button>
    <a href="">
      <img src="http://placekitten.com/g/200/300" alt="logo">
    </a>
    <a href="">
      <img src="http://placekitten.com/g/200/300" alt="logo">
    </a>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics hola hola</a></li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a href="">
        <img src="http://placekitten.com/g/200/300" alt="">
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">angel@angel.com</div>
        <div>
          <a href="">
            <img src="http://placekitten.com/g/200/300" alt="">
          </a>
        </div>
    </div>
  </div>
</div>
